<h1>Shelters</h1>
<section class="shelters_list">
  <% @shelters.each do |shelter| %>
    <li><%= shelter.name %></li>
  <% end %>
  <%= link_to "New Shelter", "/shelters/new" %>
  <%= link_to "Update Shelter", "/shelters/:id/edit" %>
</section>
