<section class="shelter_details">
  <% @shelter.attributes.values_at("name", "address", "city", "state", "zip").each do |attribute| %>
    <%= attribute %><br>
  <% end %>
  <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %><br>
  <%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %><br>
  <%= link_to "Pets", "/shelters/#{@shelter.id}/pets" %><br>

</section>
